* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
  font-family: Arial, sans-serif;
  background: gray;

}

.wrapper {
  height: 100vh;
}

.container {
  position: relative;
  height: 100%;
  z-index: -9999;

}

/* Slider */

#slider {
  position: fixed;
  z-index: -1;
}

#slider > div {
  position: absolute;
}

#slider div img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Menú */

.menu-container {
  display: table;
  top: 0;
  width: 250px;
  height: 100%;
  top: 50%;
  z-index: 1000;
}

nav.menu {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  
}

nav .logo {
  padding: 10px 0;
  background: #fff
}

nav .logo img {
  width: 150px;
}

nav ul a {
  color: #fff;
}

nav.menu ul li {
  display: block;
  padding: 10px 5px;
  background-color: #fcb040;
  border-bottom: 1px solid rgba(230, 230, 230, 0.3);

}

nav.menu ul li:hover {
    background-color: #AEB0B3;

}


// // MENÚ

// .menu-container {
//   display: table;
//   height: 100vh;
//   z-index: 1000;
//   border: 1px solid red;
// }

// nav.menu {
//   display: table-cell;
//   vertical-align: middle;
// }

// nav .logo {
//   width: 100%;
//   text-align: center;
//   padding: 10px 0;
//   background: #fff;
// }

// nav .logo img {
//   margin: auto;
//   width: 150px;
// }

// nav ul li {
//   display: block;
//   text-align: center;
//   padding: 10px 5px;
//   background-color: #FCB040;
//   border-bottom: 1px solid rgba(230, 230, 230, 0.3);
// }

// nav ul a li  {
//   color: #fff;
// }

// nav ul li:hover  {
//   background-color: #AEB0B3;
// }



