#u920
{
	position: absolute;
	background-color: transparent;
}

#u925,#u994,#u1003,#u1012,#u1021
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u313
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
}

#u389,#u299,#menuu223
{
	position: fixed;
}

#u250
{
	background-color: #FCB040;
	position: relative;
}

#u250:hover
{
	background-color: #FFFFFF;
}

#u250:active
{
	background-color: #6B6B6B;
}

#u251-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u250:hover #u251-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u250:active #u251-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u227
{
	background-color: #FCB040;
	position: relative;
}

#u250.MuseMenuActive,#u227:hover
{
	background-color: #FFFFFF;
}

#u227:active
{
	background-color: #6B6B6B;
}

#u228-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u250.MuseMenuActive #u251-4 p,#u227:hover #u228-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u227:active #u228-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u267
{
	background-color: #FCB040;
	position: relative;
}

#u227.MuseMenuActive,#u267:hover
{
	background-color: #FFFFFF;
}

#u267:active
{
	background-color: #6B6B6B;
}

#u268-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u227.MuseMenuActive #u228-4 p,#u267:hover #u268-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u267:active #u268-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u272
{
	background-color: #FCB040;
	position: relative;
}

#u267.MuseMenuActive,#u272:hover
{
	background-color: #FFFFFF;
}

#u272:active
{
	background-color: #6B6B6B;
}

#u273-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u267.MuseMenuActive #u268-4 p,#u272:hover #u273-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u272:active #u273-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#slideshowu887,#u247,#u224,#u264,#u271,#u278
{
	position: relative;
}

#u279
{
	background-color: #FCB040;
	position: relative;
}

#u272.MuseMenuActive,#u279:hover
{
	background-color: #FFFFFF;
}

#u279:active
{
	background-color: #6B6B6B;
}

#u279.MuseMenuActive
{
	background-color: #FFFFFF;
}

#u280-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u272.MuseMenuActive #u273-4 p,#u279:hover #u280-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u279:active #u280-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

#u279.MuseMenuActive #u280-4 p
{
	color: #AFB1B4;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

