.html
{
	background: #FFFFFF url("../images/020_3d_2500x1875_zcool.com.cn.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu374
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: -100px;
}

#pu374_position_content
{
	margin-top: -69px;
	margin-bottom: 438px;
}

#u374
{
	z-index: 33;
	width: 256px;
	height: 145px;
	top: 168px;
	left: 0px;
}

#u375
{
	z-index: 34;
	width: 189px;
	top: 167px;
	left: 34px;
}

#u375_img
{
	padding-right: 1px;
}

#menuu328
{
	z-index: 2;
	width: 256px;
	top: 313px;
	left: 0px;
}

#u353
{
	width: 256px;
}

#u356
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u356:hover
{
	margin: 0px -10000px 0px 0px;
}

#u356:active
{
	margin: 0px -10000px 0px 0px;
}

#u357-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u356:hover #u357-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u356:active #u357-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u332
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u356.MuseMenuActive,#u332:hover
{
	margin: 0px -10000px 0px 0px;
}

#u332:active
{
	margin: 0px -10000px 0px 0px;
}

#u334-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u356.MuseMenuActive #u357-4,#u332:hover #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u332:active #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u368
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u332.MuseMenuActive,#u368:hover
{
	margin: 0px -10000px 0px 0px;
}

#u368:active
{
	margin: 0px -10000px 0px 0px;
}

#u370-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u332.MuseMenuActive #u334-4,#u368:hover #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u368:active #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u337
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u368.MuseMenuActive,#u337:hover
{
	margin: 0px -10000px 0px 0px;
}

#u337:active
{
	margin: 0px -10000px 0px 0px;
}

#u340-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u368.MuseMenuActive #u370-4,#u337:hover #u340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u337:active #u340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u329,#u367,#u336,#u360
{
	width: 256px;
	margin-top: 2px;
}

#u361
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u337.MuseMenuActive,#u361:hover
{
	margin: 0px -10000px 0px 0px;
}

#u361:active
{
	margin: 0px -10000px 0px 0px;
}

#u361.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u362-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u337.MuseMenuActive #u340-4,#u361:hover #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u361:active #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u361.MuseMenuActive #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu477
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u477
{
	z-index: 36;
	width: 920px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u481
{
	z-index: 37;
	width: 920px;
	border-color: #000000;
	background-color: #FCB040;
	padding-bottom: 6px;
	position: relative;
}

#u482-4
{
	z-index: 38;
	width: 402px;
	min-height: 39px;
	line-height: 37px;
	color: #FFFFFF;
	font-size: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 72px;
}

#u534-4
{
	z-index: 87;
	width: 871px;
	min-height: 93px;
	color: #7F7F7F;
	margin-left: 21px;
	margin-top: 34px;
	position: relative;
}

#pu496-3
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 35px;
	position: relative;
}

#u496-3
{
	z-index: 42;
	width: 245px;
	min-height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u512
{
	z-index: 57;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	left: 310px;
}

#u514
{
	z-index: 58;
	width: 245px;
	height: 191px;
	position: relative;
}

#u513-4
{
	z-index: 59;
	width: 200px;
	color: #7F7F7F;
	margin-top: 13px;
	position: relative;
}

#u515
{
	z-index: 81;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	left: 619px;
}

#u516
{
	z-index: 82;
	width: 245px;
	height: 191px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u517-4
{
	z-index: 83;
	width: 200px;
	color: #7F7F7F;
	margin-top: 13px;
	position: relative;
}

#pu527
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 29px;
	position: relative;
}

#u527
{
	z-index: 69;
	width: 245px;
	position: relative;
	margin-right: -10000px;
}

#u529
{
	z-index: 70;
	width: 245px;
	height: 191px;
	position: relative;
}

#u528-4
{
	z-index: 71;
	width: 200px;
	color: #7F7F7F;
	margin-top: 13px;
	position: relative;
}

#u521
{
	z-index: 63;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	left: 310px;
}

#u522
{
	z-index: 64;
	width: 245px;
	height: 191px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u523-4
{
	z-index: 65;
	width: 200px;
	color: #7F7F7F;
	margin-top: 13px;
	position: relative;
}

#u530
{
	z-index: 75;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	left: 619px;
}

#u531
{
	z-index: 76;
	width: 245px;
	height: 191px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u532-4
{
	z-index: 77;
	width: 200px;
	color: #7F7F7F;
	margin-top: 13px;
	position: relative;
}

#u533
{
	z-index: 45;
	width: 920px;
	margin-top: 65px;
	position: relative;
}

#u483
{
	z-index: 46;
	width: 920px;
	border-color: #000000;
	background-color: #7F7F7F;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u484-4
{
	z-index: 47;
	width: 106px;
	min-height: 19px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 786px;
}

#u508
{
	z-index: 51;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 28px;
}

#u486
{
	z-index: 52;
	width: 245px;
	height: 191px;
	position: relative;
}

.ie #u514,.ie #u529,.ie #u486
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u497-4
{
	z-index: 53;
	width: 245px;
	color: #7F7F7F;
	margin-top: 13px;
	position: relative;
}

#u746
{
	z-index: 91;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 28px;
}

#u761
{
	z-index: 93;
	width: 257px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 628px;
}

#u766
{
	z-index: 95;
	width: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 509px;
	left: 28px;
}

#u771
{
	z-index: 97;
	width: 248px;
	position: relative;
	margin-right: -10000px;
	margin-top: 518px;
	left: 337px;
}

#u786
{
	z-index: 99;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	margin-top: 520px;
	left: 647px;
}

#u858
{
	z-index: 101;
	width: 248px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 337px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

