.html
{
	background: #FFFFFF url("../images/020_3d_2500x1875_zcool.com.cn.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu374
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: -100px;
}

#pu374_position_content
{
	margin-top: -69px;
	margin-bottom: 438px;
}

#u374
{
	z-index: 33;
	width: 256px;
	height: 145px;
	top: 168px;
	left: 0px;
}

#u375
{
	z-index: 34;
	width: 189px;
	top: 167px;
	left: 34px;
}

#u375_img
{
	padding-right: 1px;
}

#menuu328
{
	z-index: 2;
	width: 256px;
	top: 313px;
	left: 0px;
}

#u353
{
	width: 256px;
}

#u356
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u356:hover
{
	margin: 0px -10000px 0px 0px;
}

#u356:active
{
	margin: 0px -10000px 0px 0px;
}

#u357-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u356:hover #u357-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u356:active #u357-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u332
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u356.MuseMenuActive,#u332:hover
{
	margin: 0px -10000px 0px 0px;
}

#u332:active
{
	margin: 0px -10000px 0px 0px;
}

#u334-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u356.MuseMenuActive #u357-4,#u332:hover #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u332:active #u334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u368
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u332.MuseMenuActive,#u368:hover
{
	margin: 0px -10000px 0px 0px;
}

#u368:active
{
	margin: 0px -10000px 0px 0px;
}

#u370-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u332.MuseMenuActive #u334-4,#u368:hover #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u368:active #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u337
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u368.MuseMenuActive,#u337:hover
{
	margin: 0px -10000px 0px 0px;
}

#u337:active
{
	margin: 0px -10000px 0px 0px;
}

#u340-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u368.MuseMenuActive #u370-4,#u337:hover #u340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u337:active #u340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u329,#u367,#u336,#u360
{
	width: 256px;
	margin-top: 2px;
}

#u361
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
}

#u337.MuseMenuActive,#u361:hover
{
	margin: 0px -10000px 0px 0px;
}

#u361:active
{
	margin: 0px -10000px 0px 0px;
}

#u361.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u362-4
{
	width: 256px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u337.MuseMenuActive #u340-4,#u361:hover #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u361:active #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u361.MuseMenuActive #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu536
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u536
{
	z-index: 36;
	width: 920px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u537
{
	z-index: 37;
	width: 920px;
	border-color: #000000;
	background-color: #FCB040;
	padding-bottom: 6px;
	position: relative;
}

#u538-4
{
	z-index: 38;
	width: 402px;
	min-height: 39px;
	line-height: 37px;
	color: #FFFFFF;
	font-size: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 72px;
}

#u560-8
{
	z-index: 58;
	width: 871px;
	min-height: 93px;
	color: #7F7F7F;
	margin-left: 21px;
	margin-top: 87px;
	position: relative;
}

#pu801
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 8px;
	position: relative;
}

#u801
{
	z-index: 66;
	width: 263px;
	position: relative;
	margin-right: -10000px;
}

#u811
{
	z-index: 70;
	width: 255px;
	position: relative;
	margin-right: -10000px;
	left: 603px;
}

#pu542
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
}

#u542
{
	z-index: 48;
	width: 200px;
	position: relative;
	margin-right: -10000px;
}

#u543-4
{
	z-index: 49;
	width: 200px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u545
{
	z-index: 53;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

#u546-4
{
	z-index: 54;
	width: 200px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u817
{
	z-index: 75;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 603px;
}

#u818-4
{
	z-index: 76;
	width: 200px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#pu819
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 36px;
	position: relative;
}

#u819
{
	z-index: 80;
	width: 263px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u824
{
	z-index: 82;
	width: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 309px;
}

#u837
{
	z-index: 97;
	width: 282px;
	position: relative;
	margin-right: -10000px;
	left: 587px;
}

#pu829
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 16px;
	position: relative;
}

#u829
{
	z-index: 84;
	width: 200px;
	position: relative;
	margin-right: -10000px;
}

#u830-4
{
	z-index: 85;
	width: 200px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u835
{
	z-index: 92;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

#u836-4
{
	z-index: 93;
	width: 200px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u842
{
	z-index: 99;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	left: 603px;
}

#u843-4
{
	z-index: 100;
	width: 200px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
}

#u834-3
{
	z-index: 89;
	width: 5px;
	margin-left: 455px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u539
{
	z-index: 42;
	width: 920px;
	margin-top: 25px;
	position: relative;
}

#u541
{
	z-index: 43;
	width: 920px;
	border-color: #000000;
	background-color: #7F7F7F;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u540-4
{
	z-index: 44;
	width: 106px;
	min-height: 19px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 786px;
}

#u806
{
	z-index: 68;
	width: 245px;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 325px;
}

#u816-3
{
	z-index: 72;
	width: 3px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 423px;
	left: 140px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

