#u1177_clip
{
	overflow: hidden;
}

#u1177,#menuu1113
{
	position: fixed;
}

#u1115
{
	background-color: transparent;
	position: relative;
}

#u1117-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1115:hover #u1117-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1126-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1124:hover #u1126-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1158-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1156:hover #u1158-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1764-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1762:hover #u1764-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1114,#u1121,#u1124,#u1155,#u1156,#u1759,#u1762,#u1169,#u1172
{
	position: relative;
}

#u1175-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: allerta, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1172:hover #u1175-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u1115.MuseMenuActive #u1117-4 p,#u1124.MuseMenuActive #u1126-4 p,#u1156.MuseMenuActive #u1158-4 p,#u1762.MuseMenuActive #u1764-4 p,#u1172.MuseMenuActive #u1175-4 p
{
	color: #ED1C24;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u105
{
	border-color: #000000;
	background-color: #000000;
	position: fixed;
}

#u1400-8
{
	text-align: left;
	position: fixed;
}

#u1400-2,#u1400-5
{
	color: #FFFFFF;
}

#u1405
{
	background-color: transparent;
	position: fixed;
}

#u1411
{
	background-color: transparent;
	position: fixed;
}

#u1405:hover,#u1411:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

