.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 579px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu344
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 155px;
}

#u348
{
	position: absolute;
	background-color: transparent;
}

#u348popup
{
	z-index: 3;
}

#u351
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u105
{
	z-index: 42;
	width: 1400px;
	height: 34px;
	bottom: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1400-8
{
	z-index: 76;
	width: 427px;
	min-height: 17px;
	padding-top: 4px;
	bottom: 6px;
	left: 101px;
}

#u1177
{
	z-index: 74;
	width: 191px;
	top: 33px;
	left: 110px;
}

#u1177_clip
{
	width: 191px;
	height: 88px;
}

#u1177_img
{
	margin-left: -5px;
	margin-top: -9px;
	margin-bottom: -2px;
}

#pamphletu1478
{
	z-index: 6;
	width: 0.01px;
	height: 37px;
	padding-bottom: 368px;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 10px;
}

#u1490
{
	z-index: 7;
	width: 1026px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 94px;
}

#u1491
{
	position: absolute;
	width: 400px;
	border-color: #DEDEDE;
	background-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-bottom: 9px;
	top: -8px;
	left: -94px;
}

#u1491:hover
{
	border-color: #999999;
	background-color: #000000;
	margin: 0px;
}

#u1491.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #B51E22;
	margin: 0px;
}

#u1242-4
{
	z-index: 9;
	width: 206px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 3px;
	text-align: center;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 94px;
}

#u1491:hover #u1242-4
{
	padding-top: 3px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 8px -10000px 0px 0px;
}

#u1491.PamphletThumbSelected #u1242-4
{
	padding-top: 3px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 8px -10000px 0px 0px;
}

#u1491.PamphletThumbSelected #u1242-4 p
{
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}

#pu1493
{
	position: absolute;
	width: 0.01px;
	top: -8px;
	left: 306px;
}

#u1493
{
	position: absolute;
	width: 400px;
	height: 45px;
	border-color: #C4C4C4;
	background-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}

#pu1493:hover #u1493
{
	width: 400px;
	height: 45px;
	background-image: none;
	border-style: none;
	border-color: #999999;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 1);
	-pie-background: none;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu1493.PamphletThumbSelected #u1493
{
	width: 399px;
	height: 44px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #B31E22;
	background-color: rgba(179, 30, 34, 1);
	-pie-background: none;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1504-4
{
	z-index: 15;
	width: 206px;
	min-height: 25px;
	background-color: transparent;
	padding-top: 3px;
	text-align: center;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: normal;
}

#pu1493:hover #u1504-4
{
	padding-top: 3px;
	padding-bottom: 0px;
	position: relative;
	width: 206px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 94px;
	min-height: 25px;
}

#pu1493.PamphletThumbSelected #u1504-4
{
	padding-top: 3px;
	padding-bottom: 0px;
	position: relative;
	width: 206px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 93px;
	min-height: 25px;
}

#pu1493.PamphletThumbSelected #u1504-4 p
{
	text-align: center;
	font-weight: normal;
}

#pu1493 #u1504-4
{
	position: relative;
	width: 206px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 94px;
}

#u1492
{
	position: absolute;
	width: 380px;
	border-color: #999999;
	background-color: #7F7F7F;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding-bottom: 8px;
	top: -8px;
	left: 706px;
}

#u1492:hover
{
	border-color: #6B6B6B;
	background-color: #000000;
	margin: 0px;
}

#u1492.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #BC1F23;
	margin: 0px;
}

#u1506-4
{
	z-index: 22;
	width: 262px;
	min-height: 25px;
	padding-top: 3px;
	text-align: center;
	line-height: 24px;
	font-size: 20px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 58px;
}

#u1479
{
	position: absolute;
	width: 1180px;
	top: 45px;
}

#u1479popup
{
	z-index: 26;
}

#u1482
{
	z-index: 27;
	width: 1180px;
	height: 360px;
	border-style: none;
	border-color: #999999;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-right: -10000px;
	position: relative;
}

#u1241-4
{
	z-index: 28;
	width: 287px;
	min-height: 253px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 60px;
}

#u1480
{
	z-index: 32;
	width: 1180px;
	height: 360px;
	border-style: none;
	border-color: #999999;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-right: -10000px;
	position: relative;
}

#u1507-4
{
	z-index: 33;
	width: 287px;
	min-height: 253px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 60px;
}

#u1481
{
	z-index: 37;
	width: 1180px;
	height: 360px;
	border-style: none;
	border-color: #6B6B6B;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-right: -10000px;
	position: relative;
}

#u1508-4
{
	z-index: 38;
	width: 287px;
	min-height: 253px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 60px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu1113
{
	z-index: 43;
	width: 600px;
	top: 54px;
	right: 99px;
}

#u1114
{
	width: 118px;
	min-height: 39px;
	margin-right: -10000px;
}

#u1115
{
	width: 118px;
	padding-bottom: 15px;
}

#u1115:hover
{
	margin: 0px;
}

#u1117-4
{
	width: 118px;
	min-height: 24px;
	margin-right: -10000px;
	top: 7px;
}

#u1115:hover #u1117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1121
{
	width: 118px;
	min-height: 39px;
	margin-right: -10000px;
	top: 7px;
	left: 120px;
}

#u1126-4
{
	width: 118px;
	min-height: 24px;
	margin-right: -10000px;
}

#u1115.MuseMenuActive #u1117-4,#u1124:hover #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1155
{
	width: 118px;
	min-height: 39px;
	margin-right: -10000px;
	top: 7px;
	left: 240px;
}

#u1124,#u1156
{
	width: 118px;
}

#u1158-4
{
	width: 118px;
	min-height: 24px;
	margin-right: -10000px;
}

#u1124.MuseMenuActive #u1126-4,#u1156:hover #u1158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1759
{
	width: 119px;
	min-height: 39px;
	margin-right: -10000px;
	top: 7px;
	left: 360px;
}

#u1764-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
}

#u1156.MuseMenuActive #u1158-4,#u1762:hover #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1169
{
	width: 119px;
	min-height: 39px;
	margin-right: -10000px;
	top: 7px;
	left: 481px;
}

#u1762,#u1172
{
	width: 119px;
}

#u1175-4
{
	width: 119px;
	min-height: 24px;
	margin-right: -10000px;
}

#u1762.MuseMenuActive #u1764-4,#u1172:hover #u1175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1172.MuseMenuActive #u1175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1405
{
	z-index: 84;
	width: 23px;
	bottom: 5px;
	right: 141px;
}

#u1411
{
	z-index: 86;
	width: 23px;
	bottom: 5px;
	right: 110px;
}

#u1115.MuseMenuActive,#u1405:hover,#u1411:hover
{
	margin: 0px;
}

body
{
	padding-bottom: 47px;
}

#page .verticalspacer
{
	clear: both;
}

