.Subtitulo
{
	font-family: cabin-n4, sans-serif;
}

.Body-Text
{
	font-family: pt-sans-n4, sans-serif;
}

.Titulo
{
	font-family: cabin-n7, sans-serif;
}

#u841-4
{
	font-family: pt-sans-i7, sans-serif;
}

#u86-4
{
	font-family: lato-n3, sans-serif;
}

#u101-4
{
	font-family: lato-n3, sans-serif;
}

#u115-4
{
	font-family: lato-n3, sans-serif;
}

#u126-4
{
	font-family: lato-n3, sans-serif;
}

#u1283-18
{
	font-family: lato-n3, sans-serif;
}

#u1325-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1284-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1159,#u1164,#u1165,#u1211-4
{
	font-family: lato-n4, sans-serif;
}

#u1203,#u1204,#u1205,#u1206
{
	font-family: actor-n4, sans-serif;
}

#u1212,#u1169,#u1199-4,#u1200-4,#u1201-4,#u1202-4,#u1214
{
	font-family: lato-n3, sans-serif;
}

