.Subtitulo
{
	font-family: cabin-n4, sans-serif;
}

.Body-Text
{
	font-family: pt-sans-n4, sans-serif;
}

.Titulo
{
	font-family: cabin-n7, sans-serif;
}

#u841-4
{
	font-family: pt-sans-i7, sans-serif;
}

#u86-4
{
	font-family: lato-n3, sans-serif;
}

#u101-4
{
	font-family: lato-n3, sans-serif;
}

#u115-4
{
	font-family: lato-n3, sans-serif;
}

#u126-4
{
	font-family: lato-n3, sans-serif;
}

#u1283-18
{
	font-family: lato-n3, sans-serif;
}

#u1325-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1284-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1280-4
{
	font-family: antic-n4, sans-serif;
}

#u1041-4,#u1047-4,#u1095-4,#u1089-4,#u1044-4,#u1049-4,#u1097-4,#u1090-4,#u1042-4,#u1052-4,#u1101-4,#u1091-4,#u1043-4,#u1055-4,#u1104-4,#u1092-4
{
	font-family: lato-n3, sans-serif;
}

