.Subtitulo
{
	font-family: cabin-n4, sans-serif;
}

.Body-Text
{
	font-family: pt-sans-n4, sans-serif;
}

.Titulo
{
	font-family: cabin-n7, sans-serif;
}

#u841-4
{
	font-family: pt-sans-i7, sans-serif;
}

#u86-4
{
	font-family: lato-n3, sans-serif;
}

#u101-4
{
	font-family: lato-n3, sans-serif;
}

#u115-4
{
	font-family: lato-n3, sans-serif;
}

#u126-4
{
	font-family: lato-n3, sans-serif;
}

#u1283-18
{
	font-family: lato-n3, sans-serif;
}

#u1325-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1284-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u173-4
{
	font-family: antic-n4, sans-serif;
}

#pu735.PamphletThumbSelected #u776-4 p,#pu733.PamphletThumbSelected #u774-4 p,#pu728.PamphletThumbSelected #u770-4 p,#pu731.PamphletThumbSelected #u772-4 p,#pu737.PamphletThumbSelected #u778-4 p,#pu262.PamphletThumbSelected #u263-4 p,#pu739.PamphletThumbSelected #u785-4 p,#u458-6,#u459-4,#u460-4,#u461-6,#u662-4,#u919-4,#u925-4,#u974-4,#u933-4,#u980-4,#u941-4,#u986-4,#u653-4,#u989-4,#u655-4,#u997-4,#u657-4,#u1003-4,#u659-4,#u1009-4,#u252-4
{
	font-family: lato-n3, sans-serif;
}

#u245-4
{
	font-family: lato-n3, sans-serif;
}

#u256-4
{
	font-family: lato-n3, sans-serif;
}

#u279-2,#u787-2,#u792-2,#u797-2,#u802-2,#u807-2,#u812-2,#u263-4
{
	font-family: lato-n3, sans-serif;
}

#u770-4
{
	font-family: lato-n3, sans-serif;
}

#u772-4
{
	font-family: lato-n3, sans-serif;
}

#u774-4
{
	font-family: lato-n3, sans-serif;
}

#u776-4
{
	font-family: lato-n3, sans-serif;
}

#u778-4
{
	font-family: lato-n3, sans-serif;
}

#u785-4
{
	font-family: lato-n3, sans-serif;
}

#u171-4,#u669-4,#u843-4,#u670-4,#u305-4
{
	font-family: lato-n4, sans-serif;
}

#u675-4,#u685-4,#u687-4,#u689-4
{
	font-family: lato-n3, sans-serif;
}

#u837,#u826,#u827,#u828,#u279-4,#u787-4,#u792-4,#u797-4,#u802-4,#u807-4,#u812-4,#u174,#u832,#u834,#u835
{
	font-family: actor-n4, sans-serif;
}

