.Subtitulo
{
	font-family: cabin-n4, sans-serif;
}

.Body-Text
{
	font-family: pt-sans-n4, sans-serif;
}

.Titulo
{
	font-family: cabin-n7, sans-serif;
}

#u841-4
{
	font-family: pt-sans-i7, sans-serif;
}

#u86-4
{
	font-family: lato-n3, sans-serif;
}

#u101-4
{
	font-family: lato-n3, sans-serif;
}

#u115-4
{
	font-family: lato-n3, sans-serif;
}

#u126-4
{
	font-family: lato-n3, sans-serif;
}

#u1283-18
{
	font-family: lato-n3, sans-serif;
}

#u1325-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1284-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1252-4
{
	font-family: lato-n4, sans-serif;
}

#u1275-22,#u1262-4
{
	font-family: lato-n3, sans-serif;
}

#u1266-4
{
	font-family: lato-n3, sans-serif;
}

#u1256-4
{
	font-family: lato-n3, sans-serif;
}

#u1277-4
{
	font-family: pt-sans-n4, sans-serif;
}

