#u80-4
{
	font-family: lato-n3, sans-serif;
}

#u540-4,#u511-4,#u517-4,#u518-8,#u570-4
{
	font-family: lato-n3, sans-serif;
}

#u571-4
{
	font-family: lato-i3, sans-serif;
}

#u549-4
{
	font-family: lato-n3, sans-serif;
}

#u550-4
{
	font-family: lato-i3, sans-serif;
}

#u577-4
{
	font-family: lato-n3, sans-serif;
}

#u575-4
{
	font-family: lato-i3, sans-serif;
}

#widgetu568_input,#widgetu568_prompt,#widgetu547_input,#widgetu547_prompt,#widgetu574_input,#widgetu574_prompt
{
	font-family: lato, sans-serif;
}

#u1395-4,#u1391-4
{
	font-family: lato-n3, sans-serif;
}

#u1126-8,#u203-4,#u211,#u211-3,#u211-4,#u206-4,#u215-2,#u215-4,#u215-6,#u215-8,#u215-10,#u215-12,#u219-4
{
	font-family: lato-n3, sans-serif;
}

