.Parrafo
{
	font-family: lato-n3, sans-serif;
}

#u132-4
{
	font-family: lato-n4, sans-serif;
}

#u154-4
{
	font-family: lato-n4, sans-serif;
}

#u2301-4
{
	font-family: lato-n4, sans-serif;
}

#u160-4
{
	font-family: lato-n4, sans-serif;
}

#u278-4,#u457-4
{
	font-family: lato-n4, sans-serif;
}

#u2535-5
{
	font-family: lato-n3, sans-serif;
}

