.Parrafo
{
	font-family: lato-n3, sans-serif;
}

#u132-4
{
	font-family: lato-n4, sans-serif;
}

#u154-4
{
	font-family: lato-n4, sans-serif;
}

#u2301-4
{
	font-family: lato-n4, sans-serif;
}

#u160-4
{
	font-family: lato-n4, sans-serif;
}

#u278-4,#u457-4
{
	font-family: lato-n4, sans-serif;
}

#u644-4
{
	font-family: lato-n4, sans-serif;
}

#u1127-2,#u1127-3,#u1127-5,#u1127-7,#u1127-8,#u1127-10,#u1127-11,#u1127-13,#u1127-14,#u1127-16,#u1127-17,#u1127-19,#u1127-20,#u1127-22,#u1127-23,#u1127-25,#u1127-27,#u1127-28,#u1127-29,#u1127-30,#u1127-31,#u1127-32,#u1127-33,#u1129-2,#u1129-3,#u1129-5,#u1129-6,#u1129-8,#u1129-9,#u1129-11,#u1129-12,#u1129-14,#u1129-15,#u1129-17,#u1129-18,#u1129-20,#u1129-21,#u1129-23,#u1129-24,#u1129-26,#u1129-27,#u1129-28,#u1125-43
{
	font-family: lato-n3, sans-serif;
}

