.Parrafo
{
	font-family: lato-n3, sans-serif;
}

#u132-4
{
	font-family: lato-n4, sans-serif;
}

#u154-4
{
	font-family: lato-n4, sans-serif;
}

#u2301-4
{
	font-family: lato-n4, sans-serif;
}

#u160-4
{
	font-family: lato-n4, sans-serif;
}

#u278-4,#u457-4
{
	font-family: lato-n4, sans-serif;
}

#u256-7,#u258-4
{
	font-family: lato-n3, sans-serif;
}

#u441-12,#u444-4,#u442-4,#u443-7,#u446-4,#u448-4,#u450-4,#u454-4
{
	font-family: lato-n4, sans-serif;
}

